.center {
    margin-left: auto;
    margin-right: auto;
}

#gameboard-table {
    width: 600px;
    height: 600px;
    border-collapse: collapse;
    color: #333333;
    font-weight: bold;
}

.gameboard-vertMarker {
    background-color: orange;
    width: 4%;
    height: 8%;
    border-style: inset;
    text-align: center;
}

.gameboard-horiMarker {
    background-color: orange;
    width: 8%;
    height: 4%;
    border-style: inset;
    text-align: center;
}

.gameboard-cornerMarker {
    background-color: darkgoldenrod;
    border-style: inset;
}

.gameboard-transparent.gameboard-empty {
    color: white;
}

.gameboard-transparent.gameboard-enemy {
    color: red;
}

.gameboard-transparent.gameboard-player {
    color: blue;
}

.gameboard-cell {
    border-style: inset;
    text-align: center;
    font-size: 100%;
    margin: 0;
    background-color: white;
}

.gameboard-player {
    background-color: #5897fb;
}

.gameboard-enemy {
    background-color: red;
}

.gameboard-selected {
    background-color: #005cbf;
}

.gameboard-selected.gameboard-enemy {
    background-color: #b3b7bb;
    color: #b3b7bb;
}

.gameboard-impassable {
    background-color: green;
    border-style: inset;
    text-align: center;
    font-size: 100%;
    margin: 0;
}

.border {
    border-style: inset;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

i {
    font-size: 30px;
    margin: 12px 35px 12px 35px;
    color: #fefefe;
}

strong {
    font-size: 20px;
}

.top-toolbar {
    position: relative;
    margin-bottom: 10px;
    background-color: #1d2124;
}

.icon-style {
    cursor: pointer;
}

.btn-logout {
    float: right;
}

.instruction {
    max-width: 25%;
    font-size: 14px;
    margin: 0px 20px 0px 20px;
}

.move-history {
    min-width: 320px;
    margin: 0px 20px 0px 20px;
    overflow: hidden;
}

.past-games-list {
    min-width: 250px;
    margin: 0px 20px 0px 20px;
    overflow: hidden;
}

.move-history table,
.past-games-list table {
    position: relative;
    max-height: 600px;
    overflow-y: scroll;
    border-collapse: collapse;
}

.move-history table thead,
.past-games-list table thead {
    font-size: 20px;
    color: #999999;
}

.move-history th,
.past-games-list th {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    border: 0;
    background-color: #333333;
    font-size: 20px;
    color: white;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.header-style {
    margin: auto;
    text-align: center;
    font-size: 30px;
}

.icon-bottom {
    font-size: 40px;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

.container-autoplay {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.autoplay-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: hsl(0, 0%, 18.82%);
    line-height: 1.2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 150px;
    height: 55px;
    background-color: #fefefe;
    border-radius: 27px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.autoplay-btn:hover {
    background-color: #57b846;
}