.center {
  margin-left: auto;
  margin-right: auto;
}

#gameboard-table {
  width: 600px;
  height: 600px;
  border-collapse: collapse;
}

.gameboard-vertMarker {
  background-color: orange;
  width: 4%;
  height: 8%;
  border-style: inset;
  text-align: center;
}

.gameboard-horiMarker {
  background-color: orange;
  width: 8%;
  height: 4%;
  border-style: inset;
  text-align: center;
}
.gameboard-cornerMarker {
  background-color: darkgoldenrod;
  border-style: inset;
}
.gameboard-transparent {
    color: red
  }
.gameboard-cell {
  border-style: inset;
  text-align: center;
  font-size: 100%;
  margin: 0;
}
.gameboard-empty {
  background-color: white;
}

.gameboard-player {
  background-color: blue;
}

.gameboard-enemy {
  background-color: red;
}

.gameboard-selected {
  background-color: #ff4;
}
tr:hover {
  background-color: #ffa;
}

.gameboard-impassable {
  background-color: green;
  border-style: inset;
  text-align: center;
  font-size: 100%;
  margin: 0;
}

.border {
  border-style: inset;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
